html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    

}
.grid-container{
    display:grid;
    height: 100vh;
    grid-template-areas:
        'header header header header   '
        'sidebar content content content '
        
  
}


.header{

    grid-area: header;
    background-color:#84bfc3;
    
}
 .sidebar{

    grid-area: sidebar;
    background-color: #ffb870;
    


}
.content{

    grid-area: content ;
    background-color: #fff5d6;
    
    
  
}