html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    

}
.container{
    display: flex;
    height: 100vh;
}


header{
   
    flex-direction: row;
    background-color:#84bfc3;
    width: 100%;
    height:150px;
    
   
    



}
 .sidebar{
    
    flex-direction: column;
    background-color: #ffb870;
    width: 250px;
    height: 100%;


}
.content{
    flex-direction: row;
    background-color: #fff5d6;
    height:100%;
    width: 100%;
    

    

    

}